<!DOCTYPE html>
<html>
<head>
	<title>Deepansh's Store</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		body{
			background-color: #4682B4;
		}
		h1{
			padding: auto;
			text-align: center;
			color: white;
			font-weight: normal;
			padding-top: 150px;
			font-size: 75px;
		}
		/*button{
			float: left;
			color: #4682b4;
			background-color: white;
			height: 25px;
		}*/
		button{
			margin-left: 5px;
		}
		.yo{
			text-align: center;
		}
		.ye{
			text-align: center;
			padding: auto;
			color: white;
		}
	</style>
</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">DEEPANSH'S STORE</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active active">
	        <a class="nav-link" href="/categories">Products <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/subCategories">SubCategories</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/subSubCategories">SubSubCategories</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/features">Features</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/requests">Requests</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/complaints">Complaints</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/newProduct">New product</a>
	      </li>
	      <li class="nav-item active active">
	        <a class="nav-link" href="/payment">Commision-Rates</a>
	      </li>
	      <li class="nav-item active active">
	        <a class="nav-link" href="/smtp">SMTP details</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	    	
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/login">Login</a>
	    		</li>
    		
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/logout">Logout</a>
	    		</li>
	    		
    	</ul>
	  </div>
	</nav>
	<div class="container">
	<h1 >WHAT ARE YOU WILLING TO DO?</h1>
	<br>
	<br>
	<div class="yo">
		<a href="/categories"><button class="btn btn-primary">EDIT PRODUCTS</button></a>
	</div>
	<div class="ye">
		<small >click on edit button of the corresponding product.</small>
	</div>
	<br>
	<div class="yo">
		<a href="/newProducts"><button class="btn btn-primary">CREATE NEW PRODUCTS</button></a>
	</div>
	<br>
	
	
	<!-- <script type="text/javascript" src="/js/new.js"></script> -->
</body>
</html>
