<!DOCTYPE html>
<html>
<head>
	<title>WebStore</title> 	<link rel="shortcut icon" href="http://www.iconarchive.com/download/i87056/graphicloads/colorful-long-shadow/Cart.ico">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		form{
			padding: 10px;
			padding-top: 50px;
		}
		body{
			color: #000000;
			background-color: #ffffff;
		}
		small{
			color: white;
			text-decoration: underline;
		}
		.blank{
			display: none;
		}
	</style>
</head>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/"><img style="height:25px; padding:0; margin:0" src="http://www.iconarchive.com/download/i87056/graphicloads/colorful-long-shadow/Cart.ico"> WebStore</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active active">
	        <a class="nav-link" href="/seller/sell">Sell stuff<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/seller/complaint">Report Problem</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/seller/request">Request Product</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	    	
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/login">Login</a>
	    		</li>
    		
	    		<li class="nav-item active">
	      			<a class="nav-link" href="/logout">Logout</a>
	    		</li>
	    		
    	</ul>
	  </div>
	</nav>
	<div>
		<div class="container">
			<form action="/step3" method="POST">
			  <legend>DESCRIBE YOUR PRODUCT</legend>
			  <div class="form-group">
			    <label for="category" >Category</label>
			    <input type="text" class="form-control" id="category" aria-describedby="emailHelp" placeholder="Category" name="category" value="<%=category.name%>" >
			  </div>
			  <div class="form-group">
			    <label for="category" >Subcategory</label>
			    <input type="text" class="form-control" id="category" aria-describedby="emailHelp" placeholder="Category" name="subcategory" value="<%=sub.name%>" >
			  </div>
			  <div class="form-group">
			    <label for="subSubCategorySelected">Subsubcategory</label>
			    
			    <select name="subsub" class="form-control" id="subSu
			    bCategorySelected" >
			    	<option value="none">Pick a subSubCategory!</option>
				    <% for(var i=0;i<sub.subCategories.length;i++){ %>
				    	<option value="<%=sub.subCategories[i]._id%>"><%=sub.subCategories[i].name%></option>
				    <%}%>
				</select>
			  </div>
			  
			<br>
			  <button type="submit" class="btn btn-primary">Submit</button>
			  </div>
		</div>
	</div>
	<script type="text/javascript" src="/js/.js"></script>
</body>
</html>